---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.tsx";
---

<Layout title="Vote with Pepe!">
  <main>
    <Landing client:only="react" />
  </main>
</Layout>
